# <div align='center'>Dataset Information and Exploration</div>

## About Dataset

### Sales Data Description
This dataset represents synthetic sales data generated for practice purposes only. It is not real-time or based on actual business operations, and should be used solely for educational or testing purposes. The dataset contains information that simulates sales transactions across different products, regions, and customers. Each row represents an individual sale event with various details associated with it.


### Columns in the Dataset

- Product_ID: Unique identifier for each product sold. Randomly generated for practice purposes.

- Sale_Date: The date when the sale occurred. Randomly selected from the year 2023.

- Sales_Rep: The sales representative responsible for the transaction. The dataset includes five random sales representatives (Alice, Bob, Charlie, David, Eve).

- Region: The region where the sale took place. The possible regions are North, South, East, and West.

- Sales_Amount: The total sales amount for the transaction, including discounts if any. Values range from 100 to 10,000 (in currency units).

- Quantity_Sold: The number of units sold in that transaction, randomly generated between 1 and 50.

- Product_Category: The category of the product sold. Categories include Electronics, Furniture, Clothing, and Food.

- Unit_Cost: The cost per unit of the product sold, randomly generated between 50 and 5000 currency units.

- Unit_Price: The selling price per unit of the product, calculated to be higher than the unit cost.

- Customer_Type: Indicates whether the customer is a New or Returning customer.

- Discount: The discount applied to the sale, randomly chosen between 0% and 30%.

- Payment_Method: The method of payment used by the customer (e.g., Credit Card, Cash, Bank Transfer).

- Sales_Channel: The channel through which the sale occurred. Either Online or Retail.

- Region_and_Sales_Rep: A combined column that pairs the region and sales representative for easier tracking.

### Disclaimer

Please note: This data was randomly generated and is intended solely for practice, learning, or testing. It does not reflect real-world sales, customers, or businesses, and should not be considered reliable for any real-time analysis or decision-making.

## Dataset Exploration

### Import necessary libraries:

In [124]:
import os
from zipfile import ZipFile
import pandas

### Download and unzip data file:

In [125]:
zip_dir = "/home/intergalacticmule/repos/sales-data-analysis/dataset/"
zip_name = "sales_data.zip"
os.system(f"curl -L -o {zip_dir + zip_name} https://www.kaggle.com/api/v1/datasets/download/vinothkannaece/sales-dataset/")

with ZipFile(zip_dir + zip_name, 'r') as zip_file:
    zip_file.extractall(zip_dir)

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 27634  100 27634    0     0  41161      0 --:--:-- --:--:-- --:--:-- 41161

### Load the dataset:

In [126]:
df = pandas.read_csv(zip_dir + zip_name.replace("zip", "csv"))

### Display dataframe head:

In [127]:
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

### Display dataframe info:

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

### Check for missing values:

In [129]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 Product_ID              0
Sale_Date               0
Sales_Rep               0
Region                  0
Sales_Amount            0
Quantity_Sold           0
Product_Category        0
Unit_Cost               0
Unit_Price              0
Customer_Type           0
Discount                0
Payment_Method          0
Sales_Channel           0
Region_and_Sales_Rep    0
dtype: int64

### Check for duplicates

In [130]:
df.count()

Product_ID              1000
Sale_Date               1000
Sales_Rep               1000
Region                  1000
Sales_Amount            1000
Quantity_Sold           1000
Product_Category        1000
Unit_Cost               1000
Unit_Price              1000
Customer_Type           1000
Discount                1000
Payment_Method          1000
Sales_Channel           1000
Region_and_Sales_Rep    1000
dtype: int64

In [131]:
df2 = df.drop_duplicates()
df2.count()

Product_ID              1000
Sale_Date               1000
Sales_Rep               1000
Region                  1000
Sales_Amount            1000
Quantity_Sold           1000
Product_Category        1000
Unit_Cost               1000
Unit_Price              1000
Customer_Type           1000
Discount                1000
Payment_Method          1000
Sales_Channel           1000
Region_and_Sales_Rep    1000
dtype: int64

### Convert Sale_Date to datetime:

In [132]:
df['Sale_Date'] = pandas.to_datetime(df['Sale_Date'])

### View descriptive statistics:

In [133]:
df.describe()

,Product_ID,Sale_Date,Sales_Amount,Quantity_Sold,Unit_Cost,Unit_Price,Discount
count,1000.000000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,1050.128000,2023-07-02 17:42:43.199999744,5019.265230,25.355000,2475.304550,2728.440120,0.15239
min,1001.000000,2023-01-01 00:00:00,100.120000,1.000000,60.280000,167.120000,0.00000
25%,1024.000000,2023-03-30 00:00:00,2550.297500,13.000000,1238.380000,1509.085000,0.08000
50%,1051.000000,2023-06-30 12:00:00,5019.300000,25.000000,2467.235000,2696.400000,0.15000
75%,1075.000000,2023-10-12 00:00:00,7507.445000,38.000000,3702.865000,3957.970000,0.23000
max,1100.000000,2024-01-01 00:00:00,9989.040000,49.000000,4995.300000,5442.150000,0.30000
std,29.573505,NaN,2846.790126,14.159006,1417.872546,1419.399839,0.08720

### Check if Product_ID has unique ranges for different Product_Categories:

In [134]:
df3 = df[df['Product_ID'] == 1050]
df3

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
70,1050,2023-05-19,Charlie,East,9744.52,35,Clothing,2158.69,2384.38,Returning,0.09,Bank Transfer,Retail,East-Charlie
279,1050,2023-05-28,Alice,North,8086.27,6,Furniture,3763.26,4102.72,New,0.11,Credit Card,Retail,North-Alice
414,1050,2023-02-11,Charlie,West,1011.46,48,Furniture,710.06,851.35,Returning,0.04,Bank Transfer,Online,West-Charlie
548,1050,2023-06-01,Bob,South,5105.78,23,Furniture,3756.06,4255.73,Returning,0.04,Cash,Online,South-Bob
667,1050,2023-05-17,Bob,North,2254.91,45,Furniture,112.35,586.18,Returning,0.28,Credit Card,Retail,North-Bob
760,1050,2023-08-21,David,North,9976.52,17,Furniture,2346.80,2654.65,New,0.13,Cash,Retail,North-David
844,1050,2023-07-18,Eve,South,6107.78,43,Furniture,4834.47,4973.38,Returning,0.03,Bank Transfer,Online,South-Eve
865,1050,2023-03-05,Bob,North,9755.90,20,Electronics,3318.92,3785.91,New,0.24,Bank Transfer,Online,North-Bob
917,1050,2023-11-13,Alice,North,4638.47,28,Food,1711.63,1951.24,New,0.22,Cash,Online,North-Alice

## Data quality insights at first glance


- The dataset consists of 1000 rows

- The data requires no cleaning - there are no missing values or duplicates

- Product_ID values are not unique (100 unique values total across 1000 rows), nor are they unique per Product_Category